@import "variables";

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;

  &-wrapper {
    height: $header-height;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0 0.5rem;
  }

  .order-number {
    position: absolute;
    height: 18px;
    min-width: 19px;
    left: 11px;
    top: -7px;
    background: #ee4d2d;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid #fff;
    text-align: center;
  }
}
