.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &-wrapper {
    height: var(--header-height);
    background-color: rgba(240, 240, 242, 0.65);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0 .5rem;
  }
}
