<div class="header-wrapper">
  <div class="header">
    <a routerLink="/" class="flex items-center w-full whitespace-nowrap no-underline text-black">
      <div class="h-6 w-6 mr-1">
        <img class="h-full w-full" src="/assets/images/logo-50.png" alt="Logo" />
      </div>
      <span class="uppercase text-base tablet:text-lg tracking-[0.02em] tablet:font-medium">Kevin Tran</span>
    </a>
    <div class="flex items-center whitespace-nowrap">
      <ng-container *ngIf="!isMobile">
        <span class="mr-10">Sản phẩm nổi bật</span>
        <span class="mr-10">Kevin Tran Collab</span>
      </ng-container>
      <div class="relative">
        <mat-icon class="text-black">shopping_cart</mat-icon>
        <span class="order-number">1</span>
      </div>
    </div>
  </div>
</div>
