<div class="promotion">
  <div class="item">
    <img alt="Miễn phí trả hàng" src="https://deo.shopeemobile.com/shopee/shopee-mobilemall-live-sg/productdetailspage/6c502a2641457578b0d5f5153b53dd5d.png" alt="Miễn phí trả hàng">
    7 ngày miễn phí trả hàng
  </div>
  <div class="item">
    <img alt="Chính hãng 100%" src="https://deo.shopeemobile.com/shopee/shopee-mobilemall-live-sg/productdetailspage/16ead7e0a68c3cff9f32910e4be08122.png" alt="Chính hãng 100%">
    Hàng chính hãng 100%
  </div>
  <div class="item">
    <img alt="Giao miễn phí" src="https://deo.shopeemobile.com/shopee/shopee-mobilemall-live-sg/productdetailspage/511aca04cc3ba9234ab0e4fcf20768a2.png" alt="Giao miễn phí">
    Miễn phí vận chuyển
  </div>
</div>
