<div class="wrapper">
  <p *ngIf="title" class="title mb-2">{{ title }}</p>

  <mat-radio-group [(ngModel)]="value">
    <mat-radio-button *ngFor="let option of options" class="option" [value]="option">
      <svg class="checked" viewBox="0 0 24 24" fill="none" width="24" height="24" color="#ffffff"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.692 7.071l-1.061-1.06-10.96 10.96-6.01-6.01-1.06 1.06 6.525 6.526.014.015a.749.749 0 001.061 0l.013-.013L21.692 7.07z" fill="currentColor"></path></svg>
      {{ option }}
    </mat-radio-button>
  </mat-radio-group>
</div>
