<div class="wrapper mt-4">
  <ng-container *ngTemplateOutlet="addressDisplay"></ng-container>

  <div class="product-order">
    <div class="product-order-header">
      <div class="text-lg text-[#222]">Sản phẩm</div>
      <div></div>
      <div class="text-[.875rem] text-[#bbb] text-center">Đơn giá</div>
      <div class="text-[.875rem] text-[#bbb] text-center">Số lượng</div>
      <div class="text-[.875rem] text-[#bbb] text-right">Thành tiền</div>
    </div>

    <div class="product-order-item">
      <div class="product-image flex">
        <img width="80" height="80" src="https://cf.shopee.vn/file/61bd6faf678cfe9ab322a91c7028eb6f_tn" alt="">
        <span class="title ml-4 mr-6">Áo polo nam vải cotton cá sấu sọc nhỏ thấm hút mồ hôi HIDDLE</span>
      </div>
      <span class="text-[#929292] category-label">Loại: Đen sọc H02-T06,L (65-75kg)</span>
      <div class="text-center">₫175.000</div>
      <div class="text-center">1</div>
      <div class="text-right">₫175.000</div>
    </div>
  </div>
</div>

<ng-template #addressDisplay>
  <div class="address-display">
    <div class="letter-top-border"></div>
    <div class="address-display__content">
      <div class="flex items-center mb-3">
        <svg height="16" viewBox="0 0 12 16" width="12" class="icon-location-marker mr-3"><path d="M6 3.2c1.506 0 2.727 1.195 2.727 2.667 0 1.473-1.22 2.666-2.727 2.666S3.273 7.34 3.273 5.867C3.273 4.395 4.493 3.2 6 3.2zM0 6c0-3.315 2.686-6 6-6s6 2.685 6 6c0 2.498-1.964 5.742-6 9.933C1.613 11.743 0 8.498 0 6z" fill-rule="evenodd"></path></svg>
        <span class="text-lg text-[#ee4d2d] capitalize">Địa chỉ nhận hàng</span>
      </div>
      <div class="detail">
        <span class="contact text-[#222] font-bold">Minh Khang (+84) 939127356</span>
        <span class="address ml-5">Toyota Ninh Kiều, Đường Cách Mạng Tháng Tám, Phường An Hòa, Quận Ninh Kiều, Cần Thơ</span>
        <span class="text-[#4080ee] ml-12 cursor-pointer">Thay đổi</span>
      </div>
    </div>
  </div>
</ng-template>
