.address-display {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: #fff;

  &__content {
    padding: 28px 30px 24px;
  }

  .icon-location-marker {
    color: #ee4d2d;
    fill: #ee4d2d;
  }
}

.product-order {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 3px;
  margin-top: 12px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  border-radius: 3px;
  font-size: 0.875rem;

  &-header, &-item {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr 2fr;
    width: 100%;
    padding: 24px 30px 0;
  }

  &-header {
    height: 50px;
  }

  &-item {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

    &:nth-child(2n) {
      background-color: #fafdff;
    }

    .category-label {
      margin-left: 0.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.letter-top-border {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}
