<div class="footer-wrapper">
  <div class="kevin-tran">
    <div class="logo-wrapper p-4">
      <img src="/assets/images/logo-v2.png" alt="Kevin Tran Logo" />
    </div>
    <div>
      <span class="block mb-2"><b>Concept:</b> FAS01</span>
      <span class="block mb-2"><b>Code:</b> WTC001</span>
      <span class="block mb-2"><b>Lĩnh vực:</b> Thời trang</span>
      <span class="block mb-2"><b>Thương hiệu:</b> KEVIN TRAN</span>
      <span class="block mb-2"><b>Web Development:</b> Khang Tran</span>
      <span class="block"><b>Graphic Designer:</b> Quoc Hiep</span>
    </div>
  </div>

  <div class="web-thanh-cong">
    <div class="logo-wrapper flex flex-col">
      <span><b>Một sản phẩm của:</b></span>
      <img class="max-w-[75px] mt-3" src="/assets/images/web-thanh-cong-logo.png" alt="Web Thanh Cong Logo">
    </div>

    <div class="content-wrapper">
      <span class="block mb-2"><b>Website:</b> www.webthanhcong.vn</span>
      <span class="block mb-2"><b>Email:</b> webthanhcong.vn@gmail.com</span>
      <span class="block"><b>Hotline:</b> 0987654321</span>
    </div>
  </div>
</div>
