@import 'responsive';

.wrapper {
  @include tabletAndDesktop() {
    background-color: #fff;
    padding-top: 30px;
  }
}

:host ::ng-deep {
  .owl-item {
    &:not(.active) {
      opacity: 0.4;
    }
  }
}


