@import 'variables';
@import 'responsive';

.wrapper {
  max-width: $app-max-width;
  margin: 0 auto;

  @include tabletAndDesktop() {
    padding-top: var(--header-height);
  }

  .content {
    margin-right: auto;
    margin-left: auto;

    @include tabletAndDesktop() {
      margin-top: 1rem;
    }
  }
}
