@import 'responsive';

.wrapper {
  @include tabletAndDesktop() {
    padding-top: var(--header-height);
  }

  .content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;

    @include tabletAndDesktop() {
      margin-top: 1rem;
    }
  }
}
