.wrapper {
  width: 14.5rem;
  padding: .625rem 0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: .125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375rem;

  .header {
    color: rgba(0,0,0,.4);
    margin: .625rem 0 0;
    text-transform: capitalize;
    padding: 0 1.25rem;
    font-size: .875rem;
  }

  .best-seller-item {
    padding: 1.25rem 1.25rem 0;
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,.09);
    }

    .image-container {
      width: 100%;
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .title {
      padding-top: .3125rem;
      text-align: left;
      margin-bottom: 4px;
      line-height: 1rem;
      // height: 2rem;
      overflow: hidden;
      word-wrap: break-word;
      color: rgba(0,0,0,.8);
      font-size: 0.875rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .price {
      display: block;
      color: #d0011b;
      height: 2.625rem;
    }
  }
}
