
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kt-shopee-primary: mat.define-palette(mat.$indigo-palette);
$kt-shopee-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kt-shopee-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kt-shopee-theme: mat.define-light-theme((
  color: (
    primary: $kt-shopee-primary,
    accent: $kt-shopee-accent,
    warn: $kt-shopee-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kt-shopee-theme);

/* You can add global styles to this file, and also import other style files */

// TODO: set height 100% cause position sticky won't work properly
// html, body { height: 100%; }

/* Importing Bootstrap SCSS file. */
@tailwind utilities;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'responsive';
@import 'dialog';
@import 'form-control';
@import 'animation';
@import 'layout';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-display: swap;
  background: #efefef;
}

.fixed {
  position: fixed;
  top: 0;
}

.badge {
  &--outline {
    color: #ee4d2d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .125rem .25rem;
    border: .0625rem solid;
    border-radius: .0625rem;
  }

  &--preferred {
    font-size: .75rem;
    height: 1rem;
    line-height: .875rem;
    border-radius: .125rem;
    padding: .125rem .25rem;
    white-space: nowrap;
    background-color: #ee4d2d;
    color: #fff;
  }
}

.app-mobile.product-detail {
  app-footer {
    display: none;
  }
}

.mat-radio-ripple {
  display: none;
}
