@import "responsive";
@import "variables";

.title {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 2.625rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;

  @include tabletAndDesktop() {
    font-size: .8125rem;
    line-height: 1rem;
    margin-bottom: 8px;
  }
}

.indicator {
  width: 9px;
  transform: translateX(0px);
  background: #ee4d2d;
  height: 0.25rem;
  border-radius: 0.0625rem;

  @include tabletAndDesktop() {
    display: none;
  }

  &-wrapper {
    height: 0.25rem;
    border-radius: 0.0625rem;
    position: absolute;
    bottom: 0.3125rem;
    left: calc(50% - 0.75rem);
    width: 1.5rem;
    background: #efefef;

    @include tabletAndDesktop() {
      display: none;
    }
  }
}

.category {
  padding: 1rem 0;
  height: 14rem;
  overflow-y: hidden;
  overflow-x: scroll;

  @include tabletAndDesktop() {
    height: fit-content;
    max-width: $app-max-width;
    margin: 0 auto;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    @include tabletAndDesktop() {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-item {
    height: 6rem;
    width: 22.2222222222222%;
    text-align: center;

    @include tabletAndDesktop() {
      flex: none;
      width: 150px;
      height: fit-content;
    }

    &__img {
      width: 2.625rem;
      height: 2.625rem;
      margin-bottom: 0.25rem;

      @include tabletAndDesktop() {
        width: 45px;
        height: 45px;
        margin: 18px auto 8px;
      }
    }
  }
}

:host {
  .category {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
