.title {
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  font-size: 0.875rem;
}

:host ::ng-deep {
  mat-radio-button.color {
    margin-right: 0.25rem;

    span.mat-radio-container {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      .mat-radio-outer-circle {
        position: relative;
        height: 1rem;
        width: 1rem;
        background-color: var(--color);
        border-color: var(--color);
      }

      .mat-radio-inner-circle {
        display: none;
      }
    }

    .mat-radio-label-content {
      display: none;
    }

    &.mat-radio-checked {
      span.mat-radio-container {
        border: 2px solid grey;
      }
    }
  }
}
