<div class="product-card__wrapper">
  <div class="product-card__header">
    <div class="product-card__header-placeholder">
      <img class="product-img"  alt="Tee basic ss1 CREWZ áo thun tay lỡ unisex Local Brand - AO_THUN_DVR (V427)" src="https://cf.shopee.vn/file/81db3aec45e555ada18535a4f2383b88_tn">
      <div class="favorite-badge">
        <div class="favorite-badge__wrapper">
          <span class="favorite-badge__title">Yêu thích</span>
        </div>
      </div>
      <div class="discount-badge">
        <div class="discount-badge__wrapper">
          <span class="percent">48%</span>
          <span class="title">GIẢM</span>
        </div>
      </div>
      <div class="customized-overlay-img">
        <div class="customized-overlay-img__wrapper">
          <img class="w-full" src="https://cf.shopee.vn/file/45e81cbd1bcfd8f0a2744b57fa61a67c" />
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-card__content-title">Cardigan Nữ Họa Tiết Chất Len Dày Dặn, Áo Choàng Hàng Quảng Châu Cao Cấp</div>
    <div class="product-card__content-badge">
      <app-badge content="10% Giảm"></app-badge>
      <div class="outline-badge">Mua Kèm Deal Sốc</div>
    </div>
    <div class="product-card__content-price">
      <div class="discount-price">₫150.000</div>
      <div class="actual-price">
        <span>₫</span>
        <span>75.000</span>
      </div>
    </div>
    <div class="product-card__content-preview">
      <app-rating *ngFor="let i of [].constructor(5)"></app-rating>
      <div class="sold-out-numbers">Đã bán 10,6k</div>
    </div>
  </div>
</div>
