<div class="product-card__wrapper">
  <div class="product-card__header">
    <div class="product-card__header-placeholder">
      <img class="product-img"  [alt]="product.title" [src]="product.image">
      <div *ngIf="product.isFavorite" class="favorite-badge">
        <div class="favorite-badge__wrapper">
          <span class="favorite-badge__title">Yêu thích</span>
        </div>
      </div>

      <app-discount-badge *ngIf="product.discount && product.discount !== 0" [percent]="product.discount"></app-discount-badge>

      <div *ngIf="product.promotionOverlay" class="customized-overlay-img">
        <div class="customized-overlay-img__wrapper">
          <img class="w-full" [src]="product.promotionOverlay" />
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-card__content-title">{{ product.title }}</div>
    <div class="product-card__content-badge">
      <app-badge *ngIf="product.promotionBadge.fullBadge" [content]="product.promotionBadge.fullBadge"></app-badge>
      <div class="outline-badge">Mua Kèm Deal Sốc</div>
    </div>
    <div class="product-card__content-price">
      <div *ngIf="product.discount" class="discount-price">₫{{ getDiscountPrice() | number:'1.0-0' }}</div>
      <div class="actual-price">
        <span>₫</span>
        <span>{{ product.price | number:'1.0-0' }}</span>
      </div>
    </div>
    <div class="product-card__content-preview">
      <app-rating *ngFor="let i of [].constructor(5)"></app-rating>
      <div class="sold-out-numbers">Đã bán {{ product.soldOutNumbers }}</div>
    </div>
  </div>
</div>
