@import 'responsive';
@import 'variables';

.header {
  padding: 0 .625rem .625rem;
  background-color: hsla(0,0%,100%,.95);

  &::before {
    content: "";
    display: block;
    padding-top: 1rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color;
    text-transform: uppercase;
  }
}

.wrapper {
  padding: 0 .1875rem;
  display: flex;
  flex-wrap: wrap;

  @include tabletAndDesktop() {
    padding: 0;
    margin: .3125rem -.3125rem;
  }
}

.more-btn {
  font-size: 0.875rem;
  background-color: $primary-color;
  color: white;
  border: none;
  display: block;
  text-align: center;
  margin: 1rem auto;
  font-weight: 500;
  padding: 0.625rem 1.75rem;
}

:host ::ng-deep {
  app-product-card {
    width: 50%;
    padding: .1875rem;
  }

  @include tabletAndDesktop() {
    app-product-card {
      padding: .3125rem;
      width: calc(100% / 6);
    }
  }
}
