.header {
  display: flex;
  padding: 0.75rem 0.75rem 1rem;

  .img-placeholder {
    width: 8rem;
    height: 8rem;
    position: relative;
    margin-right: 0.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .price {
    margin-bottom: 0.375rem;
    color: #ee4d2d;
  }

  .warehouse {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
  }
}

.option {
  padding: 1rem 0 0.375rem;
}

.hairline-border-bottom {
  border: solid rgba(0, 0, 0, 0.09);
  border-width: 0 0 1px;
}
