<div class="header hairline-border-bottom">
  <div class="img-placeholder">
    <img class="w-full h-full" [alt]="data.title" [src]="data.thumbnail" alt="Product Image">
  </div>
  <div class="flex-1 flex flex-col justify-between">
    <svg (click)="close()" class="self-end" viewBox="0 0 24 24" fill="none" width="24" height="24" color="rgba(0, 0, 0, 0.54)"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.306 4.75l-1.06-1.06-7.248 7.247L4.75 3.69 3.69 4.75l7.247 7.248-7.248 7.248 1.061 1.06 7.248-7.248 7.248 7.248 1.06-1.06-7.247-7.248 7.248-7.248z" fill="currentColor"></path></svg>
    <div>
      <span class="price">₫{{ data.price | number:'1.0-0' }}</span>
      <div class="warehouse">Kho: 999</div>
    </div>
  </div>
</div>

<div class="option px-3">
  <app-color-choice></app-color-choice>
  <app-size-choice></app-size-choice>
  <app-quantity-choice></app-quantity-choice>
  <button disabled class="stardust-button">Thêm vào Giỏ hàng</button>
</div>
