@import 'variables';

.header {
  display: flex;
  padding: 0.75rem 0.75rem 1rem;

  .img-placeholder {
    width: 8rem;
    height: 8rem;
    position: relative;
    margin-right: 0.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .price {
    margin-bottom: 0.375rem;
    color: $primary-color;
  }

  .warehouse {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
  }
}

.option {
  padding: 1rem 0 0.375rem;
}

.hairline-border-bottom {
  border: solid rgba(0, 0, 0, 0.09);
  border-width: 0 0 1px;
}

.stardust-button {
  margin-top: 1rem;
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 0.625rem;
  border-radius: 0.125rem;
  border: 0;
  font-size: 0.875rem;

  &[disabled] {
    background-color: rgba(0,0,0,.26);
  }
}

:host ::ng-deep {
  .title {
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    font-size: 0.875rem;
  }

  app-button-group {
    &:first-child {
      .wrapper {
        border-top: none;
        margin-top: 0;
      }
    }
  }
}
